<!DOCTYPE html>
<html>

  <head>
    <title>Backbone Demo: Todos</title>
    <link href="todos.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="json2.js"></script>
    <script src="jquery-1.5.js"></script>
    <script src="underscore-1.1.4.js"></script>
    <script src="backbone.js"></script>
    <script src="http://stor.io/app_storage.js"></script>
    <script src="backbone-appstorage.js"></script>
    <script src="todos.js"></script>
  </head>

  <body>
    <!-- Login Interface -->

    <div id="login">
      <div class="title">
        <h1>Login</h1>
      </div>

      <div class="content">
        <input id="email-input" placeholder="Email Address" />
        <p>alternatively, you can<br />
          <a id="twitter-login" href="#" title="Login with Twitter"><img src="twitter_login.png" alt="Login with Twitter"/></a>
        </p>
      </div>
    </div>

    <!-- Todo App Interface -->

    <div id="todoapp" style="display:none">

      <div class="title">
        <h1>Todos</h1>
      </div>

      <div class="content">

        <div id="create-todo">
          <input id="new-todo" placeholder="What needs to be done?" type="text" />
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>

        <div id="todos">
          <ul id="todo-list"></ul>
        </div>

        <div id="todo-stats"></div>

      </div>

    </div>

    <ul id="instructions" style="display:none">
      <li>Double-click to edit a todo.</li>
    </ul>

    <div id="credits">
      Originally created by
      <br />
      <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>
      <br /><br />
      Adapted to use <a href="http://stor.io">Stor.IO</a> by
      <br />
      <a href="http://blog.sourcebender.com/">Calvin Yu</a>
    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <div class="todo <%= done ? 'done' : '' %>">
        <div class="display">
          <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
          <div class="todo-content"></div>
          <span class="todo-destroy"></span>
        </div>
        <div class="edit">
          <input class="todo-input" type="text" value="" />
        </div>
      </div>
    </script>

    <script type="text/template" id="stats-template">
      <% if (total) { %>
        <span class="todo-count">
          <span class="number"><%= remaining %></span>
          <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
        </span>
      <% } %>
      <% if (done) { %>
        <span class="todo-clear">
          <a href="#">
            Clear <span class="number-done"><%= done %></span>
            completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
          </a>
        </span>
      <% } %>
    </script>

    <a href="http://github.com/cyu/storio-backbone-todos"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets0.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_orange_ff7600.png&path=" alt="Fork me on GitHub"></a>

  </body>

</html>
